
/* Google Web Fonts Start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Google Web Fonts End */

:root {
    --primary-color:#00d084;
    --secondary-color:#fff;
}

* {
    margin:0;
    padding:0;
    border:none;
    outline:none;
    box-sizing: content-box;
}

.text-primary {
    color:var(--primary-color);
}

.toggle-button {
    background-color: var(--secondary-color);
    color:var(--primary-color);
    border: solid 1px var(--primary-color);
    font-size: 1.4rem;
    padding:0.25rem 0.875rem;
    border-radius: 20%;
    
}

.toggle-button:focus {
    background-color: var(--secondary-color);
    color:var(--primary-color);
    box-shadow: 0px 0px 0px 4px var(--primary-color);
}

.navbarLinks {
    border:0px solid red;
}

.nav-links {
    padding: 20px 0px 0px 30px;
    position:relative;
    top:-30px
}

.nav-links .nav-item {
    font-family: 'Roboto',sans-serif;
    display: block;
    font-size:17px;
    font-weight: 400;
    color: black;
    margin:0px 0px 20px 0px;
}

.nav-links .nav-item:hover {
    color:var(--primary-color)
}

.nav-links .nav-item.active {
    color:var(--primary-color);
}

.nav-link-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.875rem 1rem;
    border-radius: 50rem;
    font-weight: 600;
}

.nav-link-button:focus {
    box-shadow: 0px 0px 0px 4px rgba(0, 208, 132, .7);
}

