
:root {
    --bs-primary:#00D084;
    --bs-primary-rgb:rgba(0,208,132);
    --bs-dark:#111111;
    --bs-secondary:#fff;
    --bs-secondary-rgb:   rgb(255,255,255);
    --bs-gray:#787878;
    --bs-light: #f8f8f8;
    --bs-border-radius:10px;
}


#container-spinner {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: white;
    position:fixed;
    z-index: 5;
}

#spinner {
    width: 50px;
    height: 50px;
}

.spinner-border {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid var(--bs-primary);
    border-right-color: transparent;

  }

  .navbar-brand {
    font-family: "Roboto";
    font-size:32px;
    font-weight:500;

  }

  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: 2px solid var(--bs-primary);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }

  .navbar-nav .nav-link {
    padding:10px 0px;
    margin-left:0;
    color:var(--bs-dark);
    font-family: "Roboto";
    font-size:17px;
    transition:.5s;

  }

  .navbar-nav .nav-link.active {
    color:var(--bs-primary)
  }

  .navbar-nav .nav-link:hover {
    color:var(--bs-primary);
    transition:0.5s
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-primary);
    color:white;
  }

  .owl-carousel .item {
    position: relative;
    height:104.5vh;
    max-height: 650px;
    min-height: 700px;
  }

  .owl-carousel .item img {
    position: absolute;
    object-fit: cover;

    height: 100%;
    width:100%;
    animation-name:zoom;
    animation-duration: 12s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    
  }
  
  .header-carousel {
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* padding:0px 20px; */

}

.header-carousel .header-item {
  width:100%;

}

.header-item > h4 {
  font-size:calc(1rem + 1vw);
  font-weight: 700;
  filter: contrast(110%);
  font-family: "Roboto",sans-serif;

}

.header-item h1{
  font-size: calc(2rem + 1vw);
  font-weight: 550;
  font-family: "Roboto",sans-serif;

}

  .header-item .buttons {
    font-family: "Inter",sans-serif;
  }

  .header-item .watchbtn {
    font-weight: 600;
    transition: .5s;
    padding:15px 28px;

  }

  .header-item .learnbtn {
    font-weight: 600;
    transition: .5s;
    padding:15px 24px;

  }

  .followUs {
    margin-top:27px;
  }

  .followUs h2 {
    font-weight: 500;
    font-family: "Roboto";
  }

  .followUs .icon {
    color:var(--bs-primary);
    display: block;
    background:var(--bs-secondary);
    width: 45px;
    height:45px;
    margin:0 8px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:.5s;
    flex:1 0 auto
  
  }

  .followUs .icon:hover {
    color:var(--bs-secondary);
    background-color: var(--bs-primary);

  }

  .header-item .owl-nav {
    margin-top: 30px;
    margin-bottom: 28px;
    
  }

  .owl-nav .prevBtn , .owl-nav .nextBtn {
    display: inline-flex;
    width: 60px;
    height:60px;
    background-color: var(--bs-primary);
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color:white;
    font-size:1.5rem;

  }

  .owl-nav .prevBtn:hover , .owl-nav .nextBtn:hover {
    background:var(--bs-secondary);
    color:var(--bs-primary);
    transition:.5s;

  }

  .about {
    padding-top:90px;

  }

  .about .item h4 {
    font-weight: 500;
    font-family:"Roboto",sans-serif;
    font-size:calc(1.3rem + 1vw);
    
  }

  .about .item h1 {
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    font-size:calc(1.7rem + 1.7vw);
    line-height: 1.2;
    color:var(--bs-dark);

  }

  .about .item p {
    color: var(--bs-gray);
    font-family: "Inter",sans-serif;
    font-size:(1.3rem + 1.7vw);
    line-height: 1.5;

  }

  .about .btnDiscover {
    padding:18px 50px;
  }

  .to-top-btn {
    width:57px;
    height:57px;
    font-size:8rem;
    position:fixed;
    right:20px;
    top:80vh;
    z-index:4 ;
  }

  
  .services {
    margin-top:120px;
  }

  .services h4 {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size:calc(1.3rem + 1vw);
  }

  .services h1 {
    font-family: "Roboto",sans-serif;
    color:var(--bs-dark);
    font-weight: 530;
    font-size:calc(1.7rem + 2vw);
    line-height: 1.2;
  }

  .services p {
    font-family: "Inter",sans-serif;
    font-size:calc(0.7rem + 1vw);
    color: var(--bs-gray);
    line-height: 1.5;

  }


  .services-container {
    padding:0px 20px;
    margin-top:50px;
    grid-gap:40px;    
  }


  .service-item {
    overflow: hidden;
    border-radius: var(--bs-border-radius) !important;
    transition:.5s;

  }



  .service-item .item-header{
    overflow: hidden;

  }
  
    .service-item .item-header img {
      width:100%;
      transition: .5s;
    }

  .service-item:hover {
    -webkit-box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.25);
    transition:.5s;
    }

  .service-item:hover .item-header img {
    transform: scale(1.2);
    transition:0.8s;
    color:red;
  }

  .service-item .item-body {
    padding:1.5rem;
    background:var(--bs-light);

  }

  .service-item .item-body h4 {
    color:var(--bs-dark);
    font-size:1.5rem;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
  }

  .service-item .item-body h4:hover {
    color:var(--bs-primary)
  }

  .service-item .item-body p {
    font-family: "Inter",sans-serif;
    font-size:1rem;

  }

  .service-item .item-body .learnbtn {
    font-weight: 600;
    padding:8px 25px;
  }

  @keyframes zoom {
    
    0% {height: 100%; opacity: 0.5}

    25% {height: 110%; opacity: 0.9}

    50% {height: 115%; opacity: 1}

    75% {height:110%; opacity:0.5}

    100% {height: 100%; opacity:0.9}

  }

  

  /************ bootstrap changes **************/

  .text-primary {
    --bs-text-opacity: 1;
    color: var(--bs-primary);
  }

  .btn-primary {
    --bs-btn-color: white;
    --bs-btn-bg: var(--bs-primary);
      border:none;
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: #000;
    --bs-btn-active-bg: #000;
    --bs-btn-active-color:var(--bs-primary);
    font-family: "Inter";
    font-size:16px;
    font-weight: 600;

  }

  .btn-secondary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-primary);


    --bs-btn-focus-shadow-rgb: transparent;
    --bs-btn-active-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-primary);

    font-weight: 600;

  }

  .btn-secondary:active {
    background-color: var(--bs-primary);

  }

    /************ bootstrap changes **************/


@media (min-width:430px){
  .header-item h4 {
    font-weight: 700;
    filter: contrast(110%);
    font-family: "Roboto",sans-serif;
    max-width: 500px;
    margin-top: 30px;

  }

  .header-item h4 , .header-item p {
    font-size:calc(1.375rem + 1vw);
    max-width:791px;

  }

  .header-item h1{
    font-size: calc(2rem + 1vw);
    font-weight: 550;
    font-family: "Roboto",sans-serif;
    max-width: 500px;

  }
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: var(--bs-primary) !important;
}