
:root {
    --bs-primary:#00D084;
    --bs-primary-rgb:0,208,132;
    --bs-dark:#111;
    --bs-black:#000;
    --bs-secondary:#fff;
    --bs-secondary-rgb:   rgb(255,255,255);
    --bs-gray:#787878;
    --bs-light: #f8f8f8;
    --bs-border-radius:10px;
    --bs-tertiary:#17303b;
}

body {
  font-family: "Inter",sans-serif;
  margin: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#container-spinner {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: white;
    position:fixed;
    z-index: 5;
}

#spinner {
    width: 50px;
    height: 50px;
}

.spinner-border {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid var(--bs-primary);
    border-right-color: transparent;

  }

  .navbar-brand {
    font-family: "Roboto";
    font-size:32px;
    font-weight:500;

  }

  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: 2px solid var(--bs-primary);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }

  .navbar-nav .nav-link {
    padding:10px 0px;
    margin-left:0;
    color:var(--bs-dark);
    font-family: "Roboto";
    font-size:17px;
    transition:.5s;

  }

  .navbar-nav .nav-link.active {
    color:var(--bs-primary)
  }

  .navbar-nav .nav-link:hover {
    color:var(--bs-primary);
    transition:0.5s
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-primary);
    color:white;
  }

  .header-carousel .item {
    position: relative;
    height:104.5vh;
    max-height: 650px;
    min-height: 700px;
  }

  .header-carousel .item img {
    position: absolute;
    object-fit: cover;

    height: 100%;
    width:100%;
    animation-name:zoom;
    animation-duration: 12s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    
  }
  
  .item-backdrop {
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

.owl-carousel .header-item {
  width:100%;

}


.header-item > h4 {
  font-size:calc(1rem + 1vw);
  font-weight: 700;
  filter: contrast(110%);
  font-family: "Roboto",sans-serif;

}

.header-item h1{
  font-size: calc(2rem + 1vw);
  font-weight: 550;
  font-family: "Roboto",sans-serif;

}

  .header-item .buttons {
    font-family: "Inter",sans-serif;
  }

  .header-item .watchbtn {
    font-weight: 600;
    transition: .5s;
    padding:15px 28px;

  }

  .header-item .learnbtn {
    font-family: "Inter"sans-serif;
    font-weight: 600;
    transition: .5s;
    padding:15px 24px;

  }

  .followUs {
    margin-top:27px;
  }

  .followUs h2 {
    font-weight: 500;
    font-family: "Roboto";
  }

  .followUs .icon {
    color:var(--bs-primary);
    display: block;
    background:var(--bs-secondary);
    width: 45px;
    height:45px;
    margin:0 8px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:.5s;
    flex:1 0 auto
  
  }

  .followUs .icon:hover {
    color:var(--bs-secondary);
    background-color: var(--bs-primary);

  }

  .header-item .owl-nav {
    margin-top: 30px;
    margin-bottom: 28px;
    
  }

  .owl-nav .prevBtn , .owl-nav .nextBtn {
    display: inline-flex;
    width: 65px;
    height:65px;
    background-color: var(--bs-primary);
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color:white;
    font-size:1.5rem;

  }

  .owl-nav .prevBtn:hover , .owl-nav .nextBtn:hover {
    background:var(--bs-secondary);
    color:var(--bs-primary);
    transition:.5s;

  }

  .about {
    padding-top:90px;

  }

  .about .item h4 {
    font-weight: 500;
    font-family:"Roboto",sans-serif;
    font-size:calc(1.3rem + 1vw);
    
  }

  .about .item h1 {
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    font-size:calc(1.7rem + 1.7vw);
    line-height: 1.2;
    color:var(--bs-dark);

  }

  .about .item p {
    color: var(--bs-gray);
    font-family: "Inter",sans-serif;
    font-size:(1.3rem + 1.7vw);
    line-height: 1.5;

  }

  .about .btnDiscover {
    padding:18px 50px;
  }

  .to-top-btn {
    width: 56px;
    height: 56px;
    font-size:0rem;
    position:fixed;
    right:0px;
    right:6vw;
    bottom:7vh;
    z-index:4;

  }

  
  .services {
    margin-top:120px;
  }


  .services-container {
    padding:0px 20px;
    margin-top:50px;
    grid-gap:40px;    
  }


  .service-item {
    overflow: hidden;
    border-radius: var(--bs-border-radius) !important;
    transition:.5s;

  }


  .service-item .item-header{
    overflow: hidden;

  }
  
    .service-item .item-header img {
      width:100%;
      transition: .5s;
    }

  .service-item:hover {
    -webkit-box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.25);
    transition:.5s;
    }

  .service-item:hover .item-header img {
    transform: scale(1.2);
    transition:0.8s;
    color:red;
  }

  .service-item .item-body {
    padding:1.5rem;
    background:var(--bs-light);

  }

  .service-item .item-body h4 {
    color:var(--bs-dark);
    font-size:1.5rem;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
  }

  .service-item .item-body h4:hover {
    color:var(--bs-primary)
  }

  .service-item .item-body p {
    font-family: "Inter",sans-serif;
    font-size:1rem;

  }

 .learnbtn {
    font-weight: 600;
    padding:8px 25px;
  }

  .features {
    margin-top:100px;
  }

  .features-header {
    padding: 0px 3vw;
  }

  .features-header h4 {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size:calc(1.3rem + 1vw);
  }

  .features-header h1 {
    font-family: "Roboto",sans-serif;
    color:var(--bs-dark);
    font-weight: 530;
    font-size:calc(1.5rem + 2vw);
    line-height: 1.2;
  }

  .features-header p {
    font-family: "Inter",sans-serif;
    font-size:calc(0.7rem + 1vw);
    color: var(--bs-gray);
    line-height: 1.5;
    margin-top:27px;

  }

  .features-item {
    background:var(--bs-light);
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 10px;
    transition: 1s;
    box-sizing: border-box;
  }

  .features-container {
    padding:0px 5vw;
    grid-gap:30px;
    margin-top:60px;

  }

  .features-item .features-icon {
    background: white;
    padding: 24px;
    border-radius: 10px;
    font-size:1rem;
  }

  .features-item .features-body h4 {
    font-family: "Roboto",sans-serif;
    color:black;
    font-size:1.5rem;
    font-weight: 500;
    margin-top:30px;

  }

  .features-item  .features-body p {
    font-family: "Inter",sans-serif;
    color: var(--bs-gray);
    margin-top:10px;
    font-size:1rem;
  }

  .features-item .features-body .learnbtn {
    margin-top: 15px;
  }

  .features-item:hover {
   box-shadow: 0px 0px 0px 1px var(--bs-primary);
   transition:1s;

  }

  .offer {
    margin-top:100px;
  }

  .offer-header {
    padding:0px 20px;
  }

  .offer-header h4 {
    color:var(--bs-primary);
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size:calc(1.3rem + 1vw);
  }

  .offer-header h1 {
    font-family: "Roboto",sans-serif;
    color:var(--bs-dark);
    font-weight: 530;
    font-size:calc(1.5rem + 2vw);
    line-height: 1.2;
  }

  .offer-header p {
    font-family: "Inter",sans-serif;
    font-size:calc(0.8rem + 1vw);
    color: var(--bs-gray);
    line-height: 1.5;
    margin-top:27px;
    line-height: 1.5;

  }


  .offer-cards {
    background: var(--bs-light);
    padding:50px;
    width:85vw;
    border-radius:10px;
    grid-gap:20px;
  }

  .offer-cards h5 {
    background:var(--bs-secondary);
    padding:25px 20px;
    border-radius:10px;
    font-family: "Roboto",sans-serif;
    line-height: 1.2;
    color:var(--bs-dark);
    font-weight: 500;
    font-size:1.25rem;
  }

  .offer-cards h5.active {
    transition:.5s;
    background: var(--bs-primary);
    color:var(--bs-secondary);
  }


  .benefits-img {
    border-radius: 10px;
    overflow:hidden;
    width:85vw;
  }

  .benefits-body {
    width:85vw;

  }

  .benefits-body h1 {
    font-size:calc(1.425rem + 2.1vw);
    font-weight:700;
    line-height: 1.2;
    color:var(--bs-dark);
    font-family: "Roboto",sans-serif;
    margin-top:25px;
  }


  .benefits-body p {
    font-family: "Inter",sans-serif;
    font-size:calc(0.5rem + 2vw);
    color: var(--bs-gray);
    line-height: 1.5;
    margin-top:27px;
    line-height: 1.5;

  }

  .blog {
    margin-top:100px;
  }

  .blog-header h4 {
    color:var(--bs-primary);
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size:calc(1.3rem + 1vw);
  }

  .blog-header h1 {
    font-family: "Roboto",sans-serif;
    color:var(--bs-dark);
    font-weight: 530;
    font-size:calc(1.5rem + 2vw);
    line-height: 1.2;
  }

  .blog-header p {
    font-family: "Inter",sans-serif;
    font-size:calc(0.8rem + 1vw);
    color: var(--bs-gray);
    line-height: 1.5;
    margin-top:27px;
    line-height: 1.5;

  }

  .blog-carousel .item{
    width:100%;
  }

  .blog .blog-item {
    background: var(--bs-secondary);
    width: 88%;
    padding:25px 25px 15px 25px;
    border-radius:10px;
    box-shadow: inset 0 0 45px rgba(0, 0, 0, .1);
  }

  .blog-carousel .img-container {
    width:100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .blog-carousel .img-container img {
    width:100%;
  }


  .blog-item h4 {
    font-family: "Roboto",sans-serif;
    color:var(--bs-dark);
    font-weight: 500;
    font-size:calc(1.375rem + 0.3vw);
    line-height: 1.2;

  }

  .blog-item p {
    font-family: "Inter",sans-serif;
    color:var(--bs-gray);
    font-size: calc(0.9rem + 0.3vw);

  }

  .blog-item .user img {
    width:65px;
    height:65px;
    object-fit: fill;
    border-radius: 100%;
  }

  .blog-item .user h5{
    font-family: "Roboto",sans-serif;
    color:var(--bs-dark);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;

  }

  .blog-item .user p{
    font-family: "Inter",sans-serif;
    color: var(--bs-gray);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;

  }

.blog-item .img-container {
  position: relative;
  overflow: hidden;

}

.blog-item:hover .img-container .img-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--bs-primary-rgb),0.08);
  top:0;
  left: 0;

}

.blog-item .img-container img {
  transition: .5s;
}

.blog-item:hover .img-container img{
  transition: .5s;
  transform: scale(1.2);
}


.blog-item .img-container .dividendBtn {
  position: absolute;
  left:25px;
  bottom: 25px;
  padding:8px 15px;

}

.img-container .dividendBtn:hover {
  color:var(--bs-dark);
  background-color: var(--bs-primary);
  --bs-btn-active-bg: #000;
  --bs-btn-active-color:var(--bs-primary);
}

.nav-primary .btn-container {
  width:88%;

}

.nav-primary .prevBtn , .nav-primary .nextBtn{
  background-color: var(--bs-primary);
  color:var(--bs-secondary);
  padding:12px 35px;
  border-radius: 30px;
  transition: .5s;
  font-weight: 100;
  font-size: 0.8rem;
}

.faqs {
  margin-top:100px;

}

.faqs-header h4 {
  color:var(--bs-primary);
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size:calc(1.3rem + 1vw);
}

.faqs-header h1 {
  font-family: "Roboto",sans-serif;
  color:var(--bs-dark);
  font-weight: 530;
  font-size:calc(1.5rem + 2vw);
  line-height: 1.2;
}

.faqs-header p {
  font-family: "Inter",sans-serif;
  font-size:calc(0.8rem + 1vw);
  color: var(--bs-gray);
  line-height: 1.5;
  margin-top:27px;
  line-height: 1.5;

}


.faqs .accordion {
  width:100%;
  background:var(--bs-light);
  border-radius: 10px;
  padding:50px 0px;
  
}


.faqs .accordion-collapse .accordion-body {
  font-family: "Inter",sans-serif;
  padding:1rem 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  font-size:1rem;
  color:var(--bs-gray);

}


.faqs .accordion-button {
  color:var(--bs-dark);
  font-size:0.95rem;
  font-family: "Inter";
}

.faqs .accordion {
  width:88%;
  margin:0 auto;
}

.faqs .accordion-item {
  width:75%;
  margin:0 auto;
}


.faqs .body-img {
  width:88%;
  margin:0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.team {
  margin-top:120px;
}

.team h4 {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size:calc(1.3rem + 1vw);
  color:var(--bs-primary);
}

.team h1 {
  font-family: "Roboto",sans-serif;
  color:var(--bs-dark);
  font-weight: 530;
  font-size:calc(1.5rem + 2vw);
  line-height: 1.2;
}

.team p {
  font-family: "Inter",sans-serif;
  font-size:calc(0.7rem + 1vw);
  color: var(--bs-gray);
  line-height: 1.5;
  margin-top:27px;
  
}



.team-info h4 {
  font-family: "Roboto",sans-serif;
  color:var(--bs-dark);
  font-weight: 500;
  font-size:calc(1.275rem + 0.3vw);
  margin-top:25px;
  margin-bottom: 0;
  transition: .5s;
}

.team .team-info p {
  margin-top:0;
  font-size:1rem;
  color:var(--bs-gray);
  font-family: "Inter",sans-serif;
  margin-bottom: 25px;
  transition: .5s;
}

.team-icons {
  gap:0px 10px
}

.team-icons .icon {
  width: calc(30px + 1vw);
  height: calc(30px + 1vw);
  display: flex;
  align-items: center;
  justify-content: center;
  background:var(--bs-primary);
  color:var(--bs-secondary);
  border-radius: 100%;
  font-weight: 500;
  --bs-gutter-y: 0.8rem;
  --bs-gutter-x: 0.8rem;
  transition:.5s;

}

.team .team-cards {
  flex:1 1 auto;
  margin-top:15%;
}

.team-item {
  width:85%;
  /* height:100%; */
  margin:0 auto;
  border-radius: 10px;
  position:relative;
  padding:0px 25px 15px 25px;
  margin-top:45%;
  
}

.team-img {
  width: 100%;
  border-radius: 100%;
  border: dotted 4px var(--bs-primary);
  padding: 4px;
  transition:.5s;
  margin-top:-50%;

}

.team-item::before {
  display: block;
  content:"";
  width: 100%;
  height: 100%;
  border-radius:10px;
  background: var(--bs-light);
  position:absolute;
  bottom: 0px;
  z-index:-10;
  transition:.5s;
}

.team-item:hover::before {
  height:0%;
}

.team-item::after {
  display: block;
  content:"";
  width: 100%;
  height:0%;
  position: absolute;
  bottom: 0px;
  z-index: -9;
  background: var(--bs-primary);
  transition:.5s;
  border-radius: 10px;

}

.team-item:hover::after {
  height:100%;
}

.team-item:hover .team-img {
  border:4px dotted var(--bs-secondary)
}

.team-item:hover .team-info * {
  color:var(--bs-secondary);
}

.team-item:hover .team-icons .icon  {
  background:var(--bs-dark);
}


.testimonial {
  margin-top:100px;
}

.testimonial-header h4 {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size:calc(1.3rem + 1vw);
}

.testimonial-header h1 {
  font-family: "Roboto",sans-serif;
  color:var(--bs-dark);
  font-weight: 530;
  font-size:calc(1.5rem + 2vw);
  line-height: 1.2;
}

.testimonial-header p {
  font-family: "Inter",sans-serif;
  font-size:calc(0.7rem + 1vw);
  color: var(--bs-gray);
  line-height: 1.5;
  margin-top:27px;

}

/******************************** TESTIMONIAL START *****************************************/

.testimonial-carousel {
  margin-top:45px;
  overflow: visible;
}

.dots-primary {
  background:var(--bs-secondary);
  width: 15px;
  height: 15px;
  box-sizing: content-box;
  border:8px solid var(--bs-primary);
  border-radius: 50%;
  display: block;
  transition:.5s;
  cursor:pointer;
}

.dots-primary.active {
  background:var(--bs-primary);
  border:8px solid var(--bs-dark);

}

.testimonial-dots {
  gap:19.5px;

}



.dots-primary:hover {
  background: var(--bs-primary);
  border-color: var(--bs-dark);

}

.testimonial-carousel .item {
  width: 88%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: visible;
  position:relative;

}


.testimonial-carousel .item-container {
  width:100%;
  padding:0px 25px 15px 25px;
  user-select: none;

}


.testimonial-carousel .item-container::before {
  display: block;
  content: "";
  height:90%;
  width:100%;
  position:absolute;
  bottom: 0px;
  left:0px;
  background: var(--bs-light);
  z-index:-1;
  border-radius: 10px;
}

.testimonial-img {
  width:90px;
  object-fit: cover;
  border-radius: 100%;
  margin:0% auto 0 auto;
  display: block;
}

.testimonial-text {
  padding:25px 0;
  text-align: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #787878;

}

.testimonial-user h4 {
  font-size:1.3rem;
  font-weight: 600;
  line-height: 1.2;
  color:#111;
  margin: 0px;

}

.testimonial-user p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #787878;
  margin-top: 5px;
}

.testimonial-stars {
  color:var(--bs-primary);
  font-size:1rem;
}

.testimonial-quote-left , .testimonial-quote-right {
  color:var(--bs-primary);
  background:var(--bs-secondary);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  z-index: 10;
}

.testimonial-quote-left {
  top:0px;
  left:25px;

}

.testimonial-quote-right {
  bottom: -25px;
  right:25px;

}

/******************************** TESTIMONIAL END *****************************************/

/******************************** FOOTER START *****************************************/
.footer {
  background:var(--bs-tertiary);
  padding:2rem 1.5rem;
  margin-top:100px;

}
/******************************** FOOTER END *****************************************/


  @keyframes zoom {
    
    0% {height: 100%; opacity: 0.5}

    25% {height: 110%; opacity: 0.9}

    50% {height: 115%; opacity: 1}

    75% {height:110%; opacity:0.5}

    100% {height: 100%; opacity:0.9}

  }


  /************ bootstrap changes **************/

  .text-primary {
    --bs-text-opacity: 1;
    color: var(--bs-primary);
  }

  .btn-primary {
    --bs-btn-color: white;
    --bs-btn-bg: var(--bs-primary);
      border:none;
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: #000;
    --bs-btn-active-bg: #000;
    --bs-btn-active-color:var(--bs-primary);
    font-family: "Inter";
    font-size:16px;
    font-weight: 600;

  }

  .btn-secondary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-primary);


    --bs-btn-focus-shadow-rgb: transparent;
    --bs-btn-active-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-primary);

    font-weight: 600;

  }

  .btn-secondary:active {
    background-color: var(--bs-primary);
    color:#ff0000
  }


.accordion {
  --bs-accordion-color: var(--bs-black);
  --bs-accordion-bg: var(--bs-secondary);
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23787878' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2 5L8 11L14 5'/%3E%3C/svg%3E");;
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23787878' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2 5L8 11L14 5'/%3E%3C/svg%3E");;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb),0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-black);
  --bs-accordion-active-bg: rgba(var(--bs-primary-rgb),0.1);

}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border-bottom: 1px solid var(--bs-accordion-border-color);
}

.accordion-item:last-of-type {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border-bottom: 0px solid var(--bs-accordion-border-color);
}

    /************ bootstrap changes **************/


@media (min-width:430px){
  .header-item h4 {
    font-weight: 700;
    filter: contrast(110%);
    font-family: "Roboto",sans-serif;
    max-width: 500px;
    margin-top: 30px;

  }

  .header-item h4 , .header-item p {
    font-size:calc(1.375rem + 1vw);
    max-width:791px;

  }

  .header-item h1{
    font-size: calc(2rem + 1vw);
    font-weight: 550;
    font-family: "Roboto",sans-serif;
    max-width: 500px;

  }
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: var(--bs-primary) !important;
}