:root {
    --bs-primary:#00D084;
    --bs-primary-rgb:rgba(0,208,132,1.0);
    --bs-dark:#111111;
}

#container-spinner {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

#spinner {
    width: 50px;
    height: 50px;

}

.spinner-border {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid var(--bs-primary);
    border-right-color: transparent;
  }


.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  }

  .navbar-brand {
    font-family: "Roboto";
    font-size:32px;
    font-weight:500;

  }

  .navbar-nav .nav-link {
    padding:10px 0px;
    margin-left:0;
    color:var(--bs-dark);
    font-family: "Roboto";
    font-size:17px;
    transition:.5s;

  }

  .navbar-nav .nav-link.active {
    color:var(--bs-primary)
  }

  .navbar-nav .nav-link:hover {
    color:var(--bs-primary);
    transition:0.5s
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-primary);
    color:white;
  }



  /************ bootstrap changes **************/

  .text-primary {
    --bs-text-opacity: 1;
    color: var(--bs-primary-rgb) !important;
  }

  .btn-primary {
    --bs-btn-color: white;
    --bs-btn-bg: var(--bs-primary);
      border:none;
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: #000;
    --bs-btn-active-bg: #000;
    --bs-btn-active-color:var(--bs-primary);
    font-family: "Inter";
    font-size:16px;
    font-weight: 600;
  }

  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }

  

    /************ bootstrap changes **************/


    